.searchBar{
    padding: 4px 4px;
    display: flex;
    align-items: center;
    width: 750px;
    height: 45px;
    margin: auto;
    transition:0.3s;
    background: rgba(255, 255, 255, 0.1)
  }

  .imgClass{
    width: 150px;
    height: 150px;
    padding: 10px 20px 10px 20px;
  }
  .resultCardContent{
    width: 800px;
    padding-left: 10px;
    display: inline-block;
  }
  .resultCardImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }